<div class="row">
    <div class="col-xxl-11 col-xxxl-10 col-xxl-offset-1">
      <h3>Translate Record</h3>
        {{md-translate
          model=model
          store=store
          writer=writer
          forceValid=forceValid
          showAllTags=showAllTags
          goToSettings=(route-action "goToSettings")
        }}
    </div>
</div>
