<nav id="md-navbar-main" class="navbar navbar-inverse navbar-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#md-navbar-main-collapse" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#" {{ action "toggleSidebar" }}>
        <span class="icon-mdeditor"></span>
      </a>
    </div>

    <div class="collapse navbar-collapse" id="md-navbar-main-collapse">
      <ul class="nav navbar-nav">
        <li>
          {{#link-to "dashboard" data-toggle="tooltip" data-placement="bottom" title="Dashboard" }}
            <span class="fa fa-dashboard"></span>
            <span class="md-nav-text">Dashboard</span>
          {{/link-to}}
        </li>
        <li>
          {{#link-to "export" data-toggle="tooltip" data-placement="bottom" title="Export" }}
            <span class="fa fa-sign-out"></span>
            <span class="md-nav-text">Export</span>
          {{/link-to}}
        </li>
        <li>
          {{#link-to "import" data-toggle="tooltip" data-placement="bottom" title="Import" }}
            <span class="fa fa-sign-in"></span>
            <span class="md-nav-text">Import</span>
          {{/link-to}}
        </li>
        {{yield}}
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          {{#link-to "settings" data-toggle="tooltip" data-placement="bottom" title="Settings" }}
            <span class="fa fa-gear"></span>
            <span class="md-nav-text nav-settings">Settings</span>
          {{/link-to}}
        </li>
      </ul>
    </div>
  </div>
</nav>
