<section id="md-help">
    <div id="md-help-content">
        <div class="page-header">
            <h3>Help <small>Main</small>
            <button type="button" disabled id="md-btn-tour" class="btn btn-xs btn-success pull-right">
                <span class="fa fa-bus"></span> Tour
            </button></h3>
        </div>
        <p>
            The mdEditor is a web application that allows users to author and
            edit metadata for projects and datasets. The primary design goal is
            to develop an editor that will allow creation and management of
            archival quality metadata without requiring extensive knowledge of
            metadata standards.
        </p>
        <p>
            <a href="https://adiwg.gitbooks.io/mdeditor/content/" target="_blank">
              Click here to view the draft documentation.
            </a>
        </p>
        <p>Note, that it is a work in progress. Eventually, the documention will
        be available in this sidebar. </p>
    </div>
</section>
{{yield}}
