<section id="md-help">
    <div id="md-help-content">
        <div class="page-header">
            <h3>Help <small>Main</small>
            <button type="button" id="md-btn-tour" class="btn btn-xs btn-success pull-right">
                <span class="fa fa-bus"></span> Tour
            </button></h3>
        </div>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit,
            sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua. Ut enim ad minim veniam, quis nostrud
            exercitation ullamco laboris nisi ut aliquip ex ea
            commodo consequat.
        </p>
        <p>
            Duis aute irure dolor in reprehenderit in voluptate
            velit esse cillum dolore eu fugiat nulla pariatur.
            Excepteur sint occaecat cupidatat non proident, sunt in
            culpa qui officia deserunt mollit anim id est laborum.
        </p>

        <a href="#" class="thumbnail"> <img src="http://fillmurray.com/200/200" alt="..."> </a>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit,
            sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua. Ut enim ad minim veniam, quis nostrud
            exercitation ullamco laboris nisi ut aliquip ex ea
            commodo consequat.
        </p>
        <a href="#" class="thumbnail"> <img src="http://fillmurray.com/200/300" alt="..."> </a>
        <p>
            Duis aute irure dolor in reprehenderit in voluptate
            velit esse cillum dolore eu fugiat nulla pariatur.
            Excepteur sint occaecat cupidatat non proident, sunt in
            culpa qui officia deserunt mollit anim id est laborum.
        </p>
    </div>
</section>
{{yield}}
