<div class="row">
  <div class="col-sm-10">
    {{sb-tree labelComponent='sb-tree-label' model=model}}
  </div>
  <div class="col-sm-2">
    <button type="button" class="btn btn-lg btn-primary" {{action "publish"}}>Publish</button>
  </div>
</div>
