.breadcrumb {
  background-color: lighten($brand-primary, 55);
  border-radius: 0;
  font-size: 12px;
  margin-bottom: 0;

  a {
    text-decoration: none;
  }

  li {
    @include text-overflow();
    max-width: 175px;

    + li::before {
      color: $gray-light;
    }
  }
}
