.md-card {
  .card-title {
    font-size: 1.2em;
    margin-bottom: 0;
  }

  &.scroll-card .card-collapse {
    max-height: 250px;
    overflow-y: auto;
  }

  &.full-screen {
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10000;

    .card-block.card-collapse {
      max-height: none;
      overflow-y: auto;
    }
  }

  .card-footer {
    .btn {
      margin-bottom: 5px;
      margin-top: 5px;
    }

    .btn:focus {
      outline: none;
    }
  }

  &.card-inverse .md-card-maximize {
    color: $body-bg;

    &:hover {
      color: darken($body-bg, 10);
      font-weight: 900;
    }
  }

  &.muted .card-block {
    color: $text-muted;
  }
}

.md-card-chevron a {
  //color: inherit;
  text-decoration: none;

  span::before {
    content: '\f106';
  }

  &.collapsed span::before {
    content: '\f107';
  }
}

.card-table {
  .card-block {
    padding: 0;

    table {
      margin-bottom: 0;

      tr:first-child {
        td,
        tr {
          border-top: 0;
        }
      }
    }
  }
}
