.couch-actions {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

  button {
    margin: 10px;

    span {
      padding-right: 0.5em;
    }
  }
}

.couch-login-status {
  .couch-login-block {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
  }
}