.d-flex {
  display: flex;
}

.flex-grow {
  flex-grow: 1;
}

.flex-column {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.align-self-center {
  align-self: center;
}

// Specific use case

.md-flex-col-575 {
  @media (min-width: $screen-lg-min) {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 775px;
  }

  @media (min-width: $screen-xxxl-min) {
    height: 550px;
  }
}

.md-flex-col-475{
  @media (min-width: $screen-lg-min) {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 675px;
  }

  @media (min-width: $screen-xxxl-min) {
    height: 450px;
  }
}

.md-flex-col-375 {
  @media (min-width: $screen-lg-min) {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 575px;
  }

  @media (min-width: $screen-xxxl-min) {
    height: 350px;
  }
}

.md-flex-col-275 {
  @media (min-width: $screen-lg-min) {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 375px;
  }

  @media (min-width: $screen-xxxl-min) {
    height: 250px;
  }
}
