#md-page-content fieldset {
  margin-bottom: 30px;

  &.collapse {
    padding: 15px 0 10px;
    background-color: lighten($brand-primary, 47);
  }
}

#md-page-content legend {
  margin-bottom: 0;

  a {
    text-decoration: none;
  }

  a.collapsed span:before {
    content: '\f107';
  }
}

.md-button-hide {
  visibility: hidden;
}

.md-panel-chevron a {
  text-decoration: none;

  span::before {
    content: '\f106';
  }

  &.collapsed span::before {
    content: '\f107';
  }
}
