#md-page-content fieldset {
  margin-bottom: 30px;

  &.collapse {
    padding: 15px 0 10px;
    background-color: lighten($brand-primary, 47);
  }
}

#md-page-content legend {
  margin-bottom: 0;

  a {
    text-decoration: none;
  }

  a.collapsed span:before {
    content: '\f107';
  }
}

/* use .invisible
.invisible {
  visibility: hidden;
}*/

.md-panel-chevron a {
  text-decoration: none;

  span::before {
    content: '\f106';
  }

  &.collapsed span::before {
    content: '\f107';
  }
}

.md-multiselect.form-control {
  height: auto;

  .checkbox-inline {
    margin-left: 10px;
  }
}

.md-button-column {
  line-height: $input-height-base;
}
