#md-help-content {
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
  padding: 0 10px;
}

section#md-help {
  background-color: lighten($brand-success, 40);
  height: 100%;
  overflow: hidden;
  padding: 53px 0 0;
  position: absolute;
  top: 0;
  width: 275px;
  display: none;
  z-index: 3;

  .page-header {
    border-bottom-color: $gray-light;
    margin: 0 0 20px;

    h3 {
      margin-bottom: 0;
    }
  }
}

#md-sidebar-wrapper.help {
  .icon-mdeditor {
    color: darken($brand-success, 10);
  }

  section#md-help {
    display: block;
  }

  a#md-btn-help {
    color: darken($brand-success, 10);

    &:hover {
      color: $body-bg;
    }
  }
}
