.icon-xl {
  width: 7rem;
  height: 7rem;
}

.icon-xxl {
  width: 10rem;
  height: 10rem;
}

.icon-xxxl {
  width: 12rem;
  height: 12rem;
}

.icon-lg {
  width: 5rem;
  height: 5rem;
}

.icon-md {
  width: 3rem;
  height: 3rem;
}

.icon-sm {
  width: 1.5rem;
  height: 1.5rem;
}
