.md-json-viewer {
  .well {
    min-height: 200px;
  }

  .md-viewer-controls .btn-group-vertical {
    display: block;
    margin-bottom: 15px;

    button {
      z-index: 1000;
    }
  }
}

.md-jsmodal-container.ember-modal-dialog {
  z-index: 2100;
  margin-top: 5vh;
  width: 90vw;

  .md-viewer-body {
    height: 75vh;
    overflow-y: auto;
  }

  @media (min-width: 420px) {
    width: 40vw;
  }
}
