.md-json-viewer {
  .well {
    min-height: 200px;
  }

  .md-viewer-controls .btn-group-vertical {
    display: block;
    margin-bottom: 15px;

    button {
      z-index: 1000;
    }
  }
}

.md-jsmodal-container.ember-modal-dialog {
  width: 40%;
  z-index: 2100;

  .md-viewer-body {
    height: 75vh;
    overflow-y: auto;
  }
}
