.md-keywords-container {
  border: 1px solid $gray-lighter;
  padding: 0 15px;
}

.md-keywords-select {
  display: inline-block;
  margin: 15px 10px;
  max-width: 300px;
  vertical-align: middle;
  width: 50%;
}
