@keyframes flash {
  0%,
  100%,
  50% {
    opacity: 1;
  }

  25%,
  75% {
    opacity: .5;
  }
}

.md-scroll-spy {
  .nav > li > a {
    padding: 5px 10px;
    transition: none;
  }

  .nav .md-embedded {
    font-size: .95em;
    padding-left: 10px;

    > a {
      padding-bottom: 2.5px;
      padding-top: 2.5px;
    }
  }
}

.md-flash {
  animation-duration: 1.5s;
  animation-fill-mode: both;
  animation-name: flash;
}
