.md-table-block {
  @media (min-width: $grid-float-breakpoint) {
    border-color: $gray-lighter;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    margin: 15px 15px 30px;
    padding-bottom: 15px;
  }

  &.md-table-checkbox {
    td:first-of-type {
      width: 60px;
    }
  }

  .md-table-title {
    font-size: 1.5em;
    left: 15px;
    margin-bottom: 15px;
    position: relative;
    top: 15px;
  }
}

.panel-body .table {
  address {
    margin: 0;
  }

  td {
    vertical-align: middle;
  }
}
