.ember-tooltip {
  z-index: 1100;
}

.badge.tooltip {
  &:hover {
    opacity: .9;
  }
}

.md-tooltip {
  text-shadow: none;

  &.danger {
    background-color: darken($brand-danger, 15);
  }

  &.warning {
    background-color: darken($brand-warning, 1);
  }
}
