.md-fa-link i.fa {
  padding-left: .3em;
  padding-right: .3em;
}

.page-header {
  margin: 20px 0;
}

.no-margin {
  margin: 0;
}

.huge-text {
  font-size: 40px;
}

a {
  //transition: all .3s ease-out;
}
