.required .card-title::after,
form .required label::after,
label.required::after {
  @extend sup;
  color: $brand-danger;
  content: '\f069';
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
}

.md-input-error,
.md-markdown-editor-error,
.md-inputgroup-error {
  position: absolute;
  right: 20px;
  top: 9px;
  //font-size: 12px;
}

.md-inputgroup-error {
  right: 45px;
  z-index: 2;
}

.md-error {
  color: $brand-danger;
}

.md-warning {
  color: $brand-warning;
}
