<form class="md-feature-form">
    {{input/md-input value=model.id
    placeholder="Unique ID for the feature" label="Feature ID"}}

    {{input/md-input value=model.properties.name
    placeholder="Short descriptive name" label="Name"}}

    {{input/md-textarea value=model.properties.description
    placeholder="Description of the area and resources bounded by the extent" label="Description"}}
</form>
{{yield}}
