# See https://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/docs

# dependencies
/bower_components/
/node_modules/

# misc
.vscode/
codemods.log
MODULE_REPORT.md
/.env*
/.pnp*
/.sass-cache
/connect.lock
/coverage/
/libpeerconnection.log
npm-debug.log*
yarn-error.log
testem.log
jsconfig.json
.project
.idea
# ember-try
/.node_modules.ember-try/
/bower.json.ember-try
/package.json.ember-try
/patches
