---
language: node_js
node_js:
  - "12"

dist: xenial

addons:
  chrome: stable

cache:
  yarn: true

env:
  global:
    # See https://git.io/vdao3 for details.
    - JOBS=1

branches:
  only:
    - master

before_install:
  - curl -o- -L https://yarnpkg.com/install.sh | bash
  - export PATH=$HOME/.yarn/bin:$PATH
  - export TZ=America/Anchorage

install:
  - yarn install --non-interactive
#
# script:
#   - yarn lint:hbs
#   - yarn lint:js
#   - yarn test

