<h4 class="section-header">
  Editing Raster Description #{{rasterId}}
  {{control/md-status model=parentModel}}
</h4>
{{outlet}}
{{to-elsewhere
  named="md-subbar-extra"
  send=(component "control/subbar-link"
    text="Back to Spatial Information"
    icon="arrow-left"
    route="record.show.edit.spatial")
}}