<td class="property">
  {{input/md-input
    model=this
    valuePath="name"
    placeholder="The name(title) of the coverage."
    profilePath=(concat profilePath ".coverageDescription.coverageName")
    showValidations=true
  }}
</td>
<td class="property">
  {{input/md-input
    model=this
    valuePath="description"
    placeholder="A description of the coverage."
    profilePath=(concat profilePath ".coverageDescription.coverageDescription")
    showValidations=true
  }}
</td>

