{{#if model.standaloneQualityReport}}


{{object/md-standalone-quality-report
    model=model.standaloneQualityReport
    deleteStandaloneQualityReport=(action "deleteStandaloneQualityReport")
}}

{{else}}

<div class="md-object-table box-shadow--4dp">
  <div class="alert md-alert-table alert-info">
    <h4>No Standalone Quality Report Found
      <button class="btn btn-success btn-md" {{action "addStandaloneQualityReport"}}>
        <i class="fa fa-plus"/>
        Add Standalone Quality Report
      </button>
    </h4>
  </div>
</div>

{{/if}}