<section>
    {{leaflet-table
        layers=(get model (concat "json.metadata.resourceInfo.extent." extentId ".geographicElement"))
        setFeatureGroup=(route-action "setFeatureGroup")
        handleResize=(route-action "handleResize")}}
</section>
