<div class="page-header text-info">
  <h3>{{model.name}} <small>Select and publish records</small></h3>
</div>

<div class="sb-publish-instructions">
  Publishing to ScienceBase requires a token. To obtain a token, go to the
  <a href="https://sciencebase.usgs.gov/manager/">ScienceBase Manager</a>, copy your API token, and paste it below.
</div>

{{sb-publisher}}
