<ol class="breadcrumb">
    <li>
      {{#link-to "index" }}
        Home
      {{/link-to}}
    </li>
    <li>
        <a href="#">Projects</a>
    </li>
    <li class="active">
        My Project
    </li>
</ol>
{{yield}}
