  <div class="col-lg-12">
    {{input/md-input
      model=this
      valuePath="name"
      label="Raster Name"
      placeholder="The name(title) of the raster."
      profilePath=(concat profilePath ".coverageName")
      showValidations=true
    }}
  </div>

<div class="col-lg-12">
  {{input/md-textarea
      model=this
      label="Raster Description"
      valuePath="description"
      placeholder="A description of the raster."
      profilePath=(concat profilePath ".coverageDescription")
      showValidations=true
    }}
</div>