  <div class="col-lg-12">
    {{input/md-input
      label="Raster Name"
      placeholder="The name(title) of the raster."
      profilePath=(concat profilePath ".coverageName")
      showValidations=true
      value=model.coverageName
    }}
  </div>

<div class="col-lg-12">
  {{input/md-textarea
      label="Raster Description"
      placeholder="A description of the raster."
      profilePath=(concat profilePath ".coverageDescription")
      showValidations=true
      value=model.coverageDescription
    }}
</div>