<h4 class="section-header">
  Editing Taxonomy Collection #{{collectionId}}
  {{control/md-status model=parentModel}}
</h4>

{{object/md-taxonomy/collection
  model=model
  id=collectionId
  profilePath="record.taxonomy.collection"
}}
