{{#with item as |model|}}
  <dl class="dl-horizontal">
    <div class="row">
      <div class="col-xxl-6">
        {{control/md-definition title="Association Type" text=model.associationType}}
      </div>
      <div class="col-xxl-6">
        {{control/md-definition title="Initiative Type" text=model.initiativeType}}
      </div>
    </div>
  </dl>

  {{object/md-citation/preview/body citation=model.resourceCitation}}
{{/with}}
