<div class="alert alert-warning text-center">
  <h1>{{fa-icon "exclamation-triangle"}} 404 Not Found: {{path}}</h1>
  <p>
    Perhaps you have visited a link that has changed, or a record that no longer exists.
  </p>
</div>
