{{#if imgQualCode}}
  {{#layout/md-card
      collapsible=true
      title="Image Quality Code"
      collapsed=false
      shadow=false
      required=(v-get this "isInvalid")
      profilePath=(concat profilePath ".imageQualityCode")
    }}
    {{object/md-identifier
        model=model.imageQualityCode
        profilePath=(concat profilePath ".imageQualityCode")
        collapsed=true
        collapsible=true
        data-spy=false
      }}
  {{/layout/md-card}}
{{/if}}
<div class="md-flex-col-375">
  {{#each params as |param|}}
    {{input/md-input
      model=this
      valuePath=param.property
      label=param.label
      infotip=true
      data-spy=(if model param.label)
      type=param.type
      class="md-embedded col-lg-6 col-xxxl-4"
      placeholder=param.description
      profilePath=(concat profilePath ".imageDescription." param.property)
    }}
  {{/each}}
</div>