    {{#if label}}
        <label>{{label}}</label>
    {{/if}}
    {{textarea
    value=value
    placeholder=placeholder
    required=required
    maxlength=maxlength
    autoresize=autoresize
    didInsertElement=_didInsertArea
    rows=rows
    max-rows=maxrows
    max-width=maxwidth
    max-height=maxheight
    class=class}}
    {{yield}}
