{{#let this.column.buttonConfig as |c|}}
  <button
    type='button'
    class='btn btn-sm btn-{{if c.style c.style "primary"}}'
    onclick={{action c.action this.record}}
  >
    <FlightIcon @name='search' />
    {{c.title}}
  </button>
{{/let}}