<td>
  {{input/md-input
    model=this
    valuePath='title'
    placeholder='Descriptive name for the collection taxonomic system.'
    profilePath=(concat profilePath '.citation.title')
    showValidations=true
    required=true
  }}
</td>