<label class="text-info required">Dates</label>
{{input/md-datetime
  valuePath="start"
  model=this
  showValidations=true
  forceDateOutput=true
  label="Start Date"
  showClear=true
  format="YYYY-MM-DD HH:mm:ss"
  placeholder="Enter start dateTime"
}}
{{input/md-datetime
  valuePath="end"
  model=this
  showValidations=true
  forceDateOutput=true
  showClear=true
  label="End Date"
  format="YYYY-MM-DD HH:mm:ss"
  placeholder="Enter end dateTime"
}}
{{control/md-fiscalyear start=start end=end}}
{{yield}}
