<span {{action "toggleAllSelection"}} role="button" class="center-block
{{if (is-equal this.selectedItems.length this.data.length)
  this.themeInstance.select-all-rows this.themeInstance.deselect-all-rows}}">
</span>
