<div class="footer-container">
  <span><a class="btn btn-xs btn-warning"
    href="https://github.com/adiwg/mdEditor/issues/new"
    target="_blank" rel="noopener noreferrer"><FaIcon @icon="github" @prefix="fab" /> Report Issue

    <EmberTooltip @text="Report bugs, Request features - GitHub account required." @side="top" />
  </a></span>
  <span>AutoSave:
      <span class={{if this.settings.data.autoSave "text-success" "text-warning"}}>
        {{if this.settings.data.autoSave "On" "Off"}}</span>
  </span>
  {{yield}}
</div>
