{{#if label}}
  <div class="form-group">
    <label>{{label}}</label>
    {{bs-datetimepicker
        date=date
        format=format
        dateIcon="fa fa-calendar"
        icons=calendarIcons
        updateDate=(action (mut date))
    }}
  </div>
{{else}}
    {{bs-datetimepicker
        date=date
        format=format
        dateIcon="fa fa-calendar"
        icons=calendarIcons
        updateDate=(action (mut date))
    }}
{{/if}}
