<li>
  <LinkTo @route="record.show.translate">
    <span class="fa fa-retweet"></span>
    <span class="md-nav-text">Translate</span>
    {{ember-tooltip text="Translate" side="bottom" tooltipClass="ember-tooltip md-nav-tip"}}
  </LinkTo>
</li>
{{outlet}}
