<li>
  <LinkTo @route='record.show.translate'>
    <FlightIcon @name='sync-reverse' />
    <span class='md-nav-text'>Translate</span>
    <EmberTooltip
      @text='Translate'
      @side='bottom'
      @tooltipClass='ember-tooltip md-nav-tip'
    />
  </LinkTo>
</li>
{{outlet}}