<h4 class="section-header">
  Editing Attribute Group
</h4>
{{object/md-attrgroup model=model profilePath="spatial.coverageDescription.attributeGroup"}}
{{to-elsewhere
  named="md-scroll-spy-record-edit"
  send=(component "control/md-scroll-spy"
    scrollInit=scrollTo
    setScrollTo=(route-action "setScrollTo")
    refresh=model.profile
  )
}}