{{#layout/md-object-container
  title="Distribution"
  index=this.index
  profilePath=this.profilePath
  deleteItem=this.deleteDistribution
}}
  <div class="row">
    <div class="col-sm-6">
      {{input/md-textarea
        valuePath="description"
        model=this
        rows=2
        maxHeight=300
        showValidations=true
        placeholder="Describe the distribution of the resource"
        label="Description"
        profilePath=(concat this.profilePath ".description")
      }}
    </div>
    <div class="col-sm-6">
      {{input/md-textarea
        value=this.model.liabilityStatement
        rows=2
        maxHeight=300
        placeholder="Statement of the liability assumed by the provider of the resource"
        label="Liability Statement"
        profilePath=(concat this.profilePath ".liabilityStatement")
      }}
    </div>
  </div>
  {{object/md-objectroute-table
    attributes="Contacts"
    items=this.distributor
    required=this.distributorRequired
    tipPath="distributor"
    tipModel=this
    header="Distributors"
    shadow=false
    buttonText="Add Distributor"
    ellipsis=true
    previewTemplateTable="object/md-distributor/preview"
    editItem=this.editDistributor
    profilePath=(concat this.profilePath ".distributor")
    verticalButtons=false
    hideIndex=false
    condensed=false
    editOnAdd=true
    scrollToId=(concat "md-distributor-" this.index)
    data-spy=false
    routeParams=this.index
  }}
{{/layout/md-object-container}}
