<button
  type='button'
  class='btn btn-xs btn-success'
  {{action 'zoomTo' record}}
  title='Zoom to Feature'
><FlightIcon @name='search' /></button>
<button
  type='button'
  class='btn btn-xs btn-info'
  {{action showForm record}}
  title='Edit Properties'
><FlightIcon @name='pencil-tool' /></button>
<button
  type='button'
  class='btn btn-xs btn-danger'
  {{action 'deleteFeature' record}}
  title='Delete Feature'
><FlightIcon @name='x' /></button>