<button type="button" class="btn btn-xs btn-success" {{action "zoomTo" record}} title="Zoom to Feature"><FaIcon @icon="searchengin" /></button>
<button type="button" class="btn btn-xs btn-info" {{action showForm record}} title="Edit Properties"><FaIcon @icon="pencil" /></button>
<button type="button" class="btn btn-xs btn-danger" {{action "deleteFeature" record}} title="Delete Feature"><FaIcon @icon="x" /></button>
