{{#if model.definition}}
  <span class="badge node-tip" data-toggle="tooltip" data-placement="auto
    right" data-container="body" title="" data-original-title="{{model.definition}}">?</span>
{{/if}}
<span class="tree-label-text">{{label}}</span>
