{{input/md-codelist
  create=true
  label="Report Type"
  tooltip=true
  icon=false
  disable=false
  allowClear=true
  showValidations=true
  mdCodeName="dataQualityElement"
  path="type"
  model=this
  placeholder="Select Report Type"
  profilePath=(concat profilePath ".type")
  class=(if (v-get this "isInvalid") "required")
}}

{{input/md-input
  label="Standalone Report Detail Reference"
  value=model.standaloneQualityReportDetails
  disabled=false
}}

{{#if model.qualityMeasure}}
  <div>quality measure</div>
{{/if}}

{{#if model.evaluationMethod}}
  <div>evaluation method</div>
{{/if}}

{{#object/md-object-table
  items=model.quantitativeResult
  header="Quantitative Result"
  buttonText="Add Quantitative Result"
  ellipsis=true
  profilePath=(concat profilePath ".quantitativeResult")
  attributes="dateTime,value,valueUnits,valueRecordType"
  as |editing|
}}
  <div>quantitativeResult</div>
{{/object/md-object-table}}

{{#object/md-object-table
  items=model.descriptiveResult
  header="Descriptive Result"
  buttonText="Add Descriptive Result"
  ellipsis=true
  profilePath=(concat profilePath ".descriptiveResult")
  attributes="dateTime,statement"
  as |editing|
}}
  {{object/md-quality-report/descriptive-result
    model=editing
    profilePath=(concat profilePath ".descriptiveResult")
  }}
{{/object/md-object-table}}

{{#object/md-object-table
  items=model.conformanceResult
  header="Conformance Result"
  buttonText="Add Conformance Result"
  ellipsis=true
  profilePath=(concat profilePath ".conformanceResult")
  attributes="specification,title,explanation,pass"
  as |editing|
}}
  <div>conformanceResult</div>
{{/object/md-object-table}}

{{#object/md-object-table
  items=model.coverageResult
  header="Coverage Result"
  buttonText="Add Coverage Result"
  ellipsis=true
  profilePath=(concat profilePath ".coverageResult")
  attributes="coverageType,coverageDescription"
  as |editing|
}}
  <div>coverageResult</div>
{{/object/md-object-table}}