<td class="property">
  {{input/md-input
    model=this
    valuePath="codeName"
    placeholder="Descriptive name for the attribute(column)."
    profilePath=(concat profilePath ".attribute.codeName")
    showValidations=true
  }}
</td>
<td class="property">
  {{input/md-codelist
    create=true
    tooltip=true
    icon=false
    allowClear=true
    showValidations=true
    mdCodeName="dataType"
    model=this
    path="dataType"
    placeholder="The datatype for the attribute(column)."
    profilePath=(concat profilePath ".attribute.dataType")
  }}
</td>
<td class="property">
  {{input/md-input
    model=this
    valuePath="definition"
    placeholder="A brief definition of the attribute(column)."
    profilePath=(concat profilePath ".attribute.definition")
    showValidations=true
  }}
</td>
<td class="property text-center">
  {{input/md-boolean
    required=true
    value=model.allowNull
    profilePath=(concat profilePath ".attribute.allowNull")
  }}
</td>
