{{input/md-textarea
  value=this.specimen
  required=true
  rows=3
  profilePath=(concat this.profilePath ".specimen")
  label="Specimen"
  placeholder="Description of the type of specimen collected (e.g. 'herbarium specimens', 'blood samples', 'photographs', 'individuals', or 'batches')."
  data-spy="Specimen"
  showValidations=true
}}

<label class="required">Repository</label>
{{#layout/md-card
  required=true
  collapsible=false
  collapsed=false
  profilePath=(concat this.profilePath ".repository")
  data-spy="Repository"
  shadow=false
  spotlightEnabled=false
}}
  {{!-- <label class="required"><h4 class="card-title inline-block">Repository</h4></label> --}}
  {{object/md-party model=this.repository profilePath=(concat this.profilePath ".repository")}}
{{/layout/md-card}}
