<h4 class="section-header">
  Editing Constraints
  {{control/md-status model=this.model}}
</h4>
{{#object/md-object-table
  items=this.model.json.metadata.resourceInfo.constraint
  collasped=false
  header="Constraints"
  buttonText="Add Constraint"
  previewTemplate=this.previewTemplate
  addSubbar="md-subbar-extra"
  attributes="type" as |editing|
}}
  {{object/md-constraint model=editing profilePath="record.constraints"}}
{{/object/md-object-table}}
