{{#control/md-indicator
  title=title
  icon=icon
  type=type
  note=note
  event=event
  values=values
  route=route
  model=model
  linkText=linkText
  popoverHideDelay=popoverHideDelay
  popperContainer=popperContainer
}}

  <h4>
    {{#if route}}
      {{#if models.length}}
        {{#link-to route=route models=models class=(concat "btn btn-sm btn-" type)}}
          {{linkText}}
        {{/link-to}}
      {{else}}
        {{#link-to route class=(concat "btn btn-sm btn-" type)}}
          {{linkText}}
        {{/link-to}}
      {{/if}}
    {{/if}}
  </h4>
{{/control/md-indicator}}