{{#control/md-indicator
  title=this.title
  icon=this.icon
  type=this.type
  note=this.note
  event=this.event
  values=this.values
  route=this.route
  model=this.model
  linkText=this.linkText
  popoverHideDelay=this.popoverHideDelay
  popperContainer=this.popperContainer
}}

  <h4>
    {{#if this.route}}
      {{#if this.models.length}}
        {{#link-to route=this.route models=this.models class=(concat "btn btn-sm btn-" this.type)}}
          {{this.linkText}}
        {{/link-to}}
      {{else}}
        {{#link-to this.route class=(concat "btn btn-sm btn-" this.type)}}
          {{this.linkText}}
        {{/link-to}}
      {{/if}}
    {{/if}}
  </h4>
{{/control/md-indicator}}