<h4 class="section-header">
  Editing Spatial Information
  <Control::MdStatus @model={{model}} />
</h4>

{{#with model.json.metadata.resourceInfo as |resourceInfo|}}
  <Object::MdSpatialInfo @model={{resourceInfo}} @profilePath="record.spatial" @parentModel={{model}} />
{{/with}}
