<h4 class="section-header">
  Editing Spatial Information
  {{control/md-status model=model}}
</h4>
{{#with model.json.metadata.resourceInfo as |model|}}
  {{object/md-spatial-info model=model profilePath="record.spatial"}}
{{/with}}
