<h4 class='section-header'>
  Editing Spatial Information
  <Control::MdStatus @model={{this.model}} />
</h4>
{{#with this.model.json.metadata.resourceInfo as |model|}}
  <Object::MdSpatialInfo @model={{model}} @profilePath='record.spatial' />
{{/with}}