<h4 class="section-header">
  Editing Spatial Information
  {{control/md-status model=model}}
</h4>

{{#let this.model.json.metadata.resourceInfo as |resourceInfo|}}
  <Object::MdSpatialInfo @model={{resourceInfo}} @profilePath="record.spatial" @parentModel={{this.model}} />
{{/let}}
