{{#object/md-array-table
  columns="Name,Number,Services"
  title="Phone"
  value=value
  templateClass=templateClass as |phone|
}}
  <td>
      {{input/md-input value=phone.item.phoneName
      placeholder="Name or location or phone"}}
  </td>
  <td>
      {{input/md-input value=phone.item.phoneNumber
      placeholder="Phone number"}}
  </td>
  <td>
    {{input/md-codelist-multi
      create=true
      tooltip=true
      icon=false
      disabled=disabled
      allowClear=true
      mdCodeName="telephone"
      value=phone.item.service placeholder="Choose phone type" }}
  </td>
{{/object/md-array-table}}
