<td class="property">
  <Input::MdTextarea @value={{item.attributeDescription}} @placeholder="Description of the attribute" @data-spy={{false}} @profilePath={{concat profilePath ".attributeDescription"}} />
</td>