<td class="property">
  <Input::MdTextarea @value={{this.item.attributeDescription}} @placeholder="Description of the attribute" @data-spy={{false}} @profilePath={{concat this.profilePath ".attributeDescription"}} />
</td>