<div class="alert alert-danger page-header text-center">
  <h1>{{fa-icon "exclamation-triangle"}} Application Error</h1>
  <p>
    The application has encountered an error, or a record that no longer exists.
  </p>
  {{#if lastError}}
    <p>
      Message:
      <a data-toggle="collapse" href=".error-stack" aria-expanded="false">
        {{lastError.message}}
      </a>
    </p>
    <div class="error-stack collapse">
      <pre class="inline-block text-left">
        TRACE:
        {{lastError.stack}}
      </pre>
    </div>
  {{/if}}
</div>
