<li>
  {{#link-to "record.show.translate"}}
    <span class="fa fa-retweet"></span>
    <span class="md-nav-text">Translate</span> {{ember-tooltip text="Translate" side="bottom" tooltipClassName="ember-tooltip md-nav-tip"}}
  {{/link-to}}
</li>
<li>

  <div class="row">
    <form class="col-xxl-11 col-xxxl-10 col-xxl-offset-1">
      {{#link-to "publish"}}
        <span class="fa fa-share-square-o"></span>
        <span class="md-nav-text">Publish</span> {{ember-tooltip text="Publish" side="bottom" tooltipClassName="ember-tooltip md-nav-tip"}}
      {{/link-to}}
    </form>
  </div>
</li>
{{outlet}}
