{{!-- {{#layout/md-card
  collapsible=false
  collapsed=false
  shadow=true
  block=false
}}
{{yield}} --}}
{{#if (v-get this.record "config" "isInvalid")}}
  <div class="alert alert-danger" role="alert">{{fa-icon "exclamation"}}
    {{v-get this.record "config" "message"}}
  </div>
{{/if}}

<Object::MdProfile::Form @record={{this.record}} />
{{!-- {{/layout/md-card}} --}}
