
<div
  class={{if this.isSelected this.themeInstance.select-row this.themeInstance.deselect-row}}
  aria-checked={{this.isSelected}}
  role="checkbox"
  onclick={{action "clickOnRow" this.index this.record}}
></div>
