<button type="button" class="btn btn-lg btn-info btn-block md-btn-responsive" {{action "doImport" target=this.actionContext}}>
  <FaIcon name="right-to-bracket" /> Do Import</button>
<button type="button" class="btn btn-lg btn-danger btn-block md-btn-responsive" {{action "cancelImport" target=this.actionContext}}>
  <FaIcon name="x" /> Cancel Import</button>
{{yield}}
