<dl class="dl-horizontal col-lg-12">
    <dt>
      <h4 class="text-info">Data Quality #{{index}}</h4>
    </dt>
    <dd></dd>
    {{control/md-definition title="Resource Type" text=(word-limit item.resourceType wordLength=20)}}
</dl>


<dl class="dl-horizontal col-lg-12">
  {{control/md-definition title="Name" text=item.name}}
</dl>