{{#layout/md-nav-secondary}}
  <li>
    <a href="./"> Keywords</a>
  </li>
  <li>
    <a href="./"> Spatial</a>
  </li>
  <li>
    <a href="./"> Quality</a>
  </li>
  <li>
    <a href="./"> Distribution</a>
  </li>
  <li>
    <a href="./"> Associated</a>
  </li>
  <li>
    <a href="./"> Documents</a>
  </li>
  <li>
    <a href="./"> Dictionaries</a>
  </li>
  <li>
    <a href="./"> Coverage</a>
  </li>
  <li>
    <a href="./"> Grid</a>
  </li>
{{/layout/md-nav-secondary}}
