<div class="row md-section-secondary">
  <div class="col-sm-9 col-md-offset-1">
    {{outlet}}
  </div>
  <div class="col-sm-2">
    <div class="md-control-sidebar hidden-print">
      <div class="btn-group-vertical center-block" role="group" aria-label="Action Button Controls">
        {{multiple-from-elsewhere name="md-subbar-settings"}}
      </div>
      {{#from-elsewhere name="md-scroll-spy-settings" as |spy|}}
          {{component spy offset=145}}
      {{/from-elsewhere}}
    </div>
  </div>
</div>

{{to-elsewhere named="nav-secondary" send=(component "layout/md-nav-secondary" links=links isStaticLinks=true)}}
