{{yield}}
{{#if isShowingModal}}
  {{#modal-dialog close="toggleModal" attachment="middle center" translucentOverlay=true container-class="md-modal-container" overlay-class="md-modal-overlay" }}
    {{{message}}}
    <div class="md-modal-buttons pull-right">
      <button type="button" class="btn btn-danger" {{action 'confirm'}}>Confirm</button>
      <button type="button" class="btn btn-primary" {{action 'cancel'}}>Cancel</button>
    </div>
  {{/modal-dialog}}
{{/if}}
