{{yield}}
  {{#control/md-modal
    isShowing = isShowingModal
    closeModal=(action "cancel")
    target=target
    renderInPlace=renderInPlace
  }}
    {{html-safe message}}
    <div class="md-modal-buttons pull-right">
      <button type="button" class="btn btn-danger" {{action "confirm"}}>Confirm</button>
      <button type="button" class="btn btn-primary" {{action "cancel"}}>Cancel</button>
    </div>
  {{/control/md-modal}}
