<li>
  {{#if @isStaticLinks}}
    <LinkTo
      @route={{this.link.target}}
      class={{this.link.class}}
    >
      {{this.link.title}}
      {{#if this.link.tip}}
        <EmberTooltip
          @effect='slide'
          @side='bottom'
          @delay='500'
          @tooltipClass='ember-tooltip md-tooltip info'
        >
          {{this.link.tip}}
        </EmberTooltip>
      {{/if}}
    </LinkTo>
  {{/if}}
</li>