<div class='dashboard'>

  <div class='row'>
    <div class='col-xs-12 col-sm-4'>
      {{#layout/md-card
        class='card-inverse card-primary text-center' block=false
      }}
        <div class='card-block'>
          <div class='card-title row'>
            <div class='col-xs-3'>
              <Hds::Icon @name="file-text" class="icon-xl" />
            </div>
            <div class='col-xs-9 text-right'>
              <div class='huge-text'>{{model.0.length}}</div>
              <div>Records</div>
            </div>
          </div>
        </div>
        <LinkTo @route='records'>
          <div class='card-footer'>
            <div class='pull-left'>
              View Records
            </div>
            <div class='pull-right'>
              <Hds::Icon @name="arrow-right" />
            </div>
          </div>
        </LinkTo>
      {{/layout/md-card}}
    </div>
    <div class='col-xs-12 col-sm-4'>
      {{#layout/md-card
        class='card-inverse card-success text-center' block=false
      }}
        <div class='card-block'>
          <div class='card-title row'>
            <div class='col-xs-3'>
              <Hds::Icon @name="users" class="icon-xl" />
            </div>
            <div class='col-xs-9 text-right'>
              <div class='huge-text'>{{model.1.length}}</div>
              <div>Contacts</div>
            </div>
          </div>
        </div>
        <LinkTo @route='contacts'>
          <div class='card-footer'>
            <div class='pull-left'>
              View Contacts
            </div>
            <div class='pull-right'>
              <Hds::Icon @name="arrow-right" />
            </div>
          </div>
        </LinkTo>
      {{/layout/md-card}}
    </div>
    <div class='col-xs-12 col-sm-4'>
      {{#layout/md-card class='card-inverse card-info text-center' block=false}}
        <div class='card-block'>
          <div class='card-title row'>
            <div class='col-xs-3'>
               <Hds::Icon @name="collections" class="icon-xl" />
            </div>
            <div class='col-xs-9 text-right'>
              <div class='huge-text'>{{model.2.length}}</div>
              <div>Dictionaries</div>
            </div>
          </div>
        </div>
        <LinkTo @route='dictionaries'>
          <div class='card-footer'>
            <div class='pull-left'>
              View Dictionaries
            </div>
            <div class='pull-right'>
              <Hds::Icon @name="arrow-right" />
            </div>
          </div>
        </LinkTo>
      {{/layout/md-card}}
    </div>
  </div>
  <hr />
  <div class='row'>
    <div class='col-xs-12 col-md-6 col-md-offset-3'>
      <h2 class='text-center'>
        <b>
          <span class='logo huge-text'>md<span
              class='md-icon-mdeditor'
            ></span>ditor</span></b>
      </h2>
      <p class='lead'>
        The mdEditor is a web application that allows users to author and edit
        metadata for projects and datasets. The primary goal is to create an
        editor that will allow creation and management of archival quality
        metadata without requiring extensive knowledge of various metadata
        standards.
      </p>
      <p class='lead'>
        The md<span class='md-icon-mdeditor'></span>ditor Version 1 has been
        released!
        <a
          href='https://github.com/adiwg/mdEditor/projects'
          target='_blank'
          rel='noopener noreferrer'
        >Follow progress</a>
        or
        <a
          href='https://github.com/adiwg/mdEditor/issues'
          target='_blank'
          rel='noopener noreferrer'
        >report issues</a>
        on
        <a
          href='https://github.com/adiwg/mdEditor'
          target='_blank'
          rel='noopener noreferrer'
        > the Github website</a>. For more information, see
        <a
          href='https://www.mdeditor.org'
          target='_blank'
          rel='noopener noreferrer'
        >mdeditor.org</a>.
      </p>
    </div>
  </div>
</div>