<div class="row">
  <div class="col-xs-12 col-sm-4">
    {{#layout/md-card class="card-inverse card-primary text-center"
      }}
      <span class="card-text">{{model.0.length}} Records</span>
    {{/layout/md-card}}
  </div>
  <div class="col-xs-12 col-sm-4">
    {{#layout/md-card class="card-inverse card-success text-center"
      }}
      <span class="card-text">{{model.1.length}} Contacts</span>
    {{/layout/md-card}}
  </div>
  <div class="col-xs-12 col-sm-4">
    {{#layout/md-card class="card-inverse card-info text-center"
      }}
      <span class="card-text">{{model.2.length}} Dictionaries</span>
    {{/layout/md-card}}
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <h2 class="text-center">
          <span class="sidebar-brand-link">md<span class="md-icon-mdeditor"></span>ditor</span><span class="md-app-version alpha "></span>        
    </h2>
  </div>
</div>
