<li>
  <LinkTo @route="record.show.translate" @model={{this.model}}>
+    <FaIcon @icon="retweet" />
    <span class="md-nav-text">Translate</span>
    <EmberTooltip @text="Translate" @side="bottom" @tooltipClass="ember-tooltip md-nav-tip" />
  </LinkTo>
</li>
<li class="divider-vertical">
</li>
<li>
<FromElsewhere @name="record-nav" />
</li>
