<li>
  {{#link-to 'record.show.translate' model}}
    <span class='fa fa-retweet'></span>
    <span class='md-nav-text'>Translate</span>
    {{ember-tooltip
      text='Translate'
      side='bottom'
      tooltipClass='ember-tooltip md-nav-tip'
    }}
  {{/link-to}}
</li>
<li class='divider-vertical'>
</li>
<li>
  {{from-elsewhere name='record-nav'}}
</li>