<li>
  {{#link-to "translate" data-toggle="tooltip" data-placement="bottom" title="Translate" }}
    <span class="fa fa-retweet"></span>
    <span class="md-nav-text">Translate</span>
  {{/link-to}}
</li>
<li>
  {{#link-to "publish" data-toggle="tooltip" data-placement="bottom" title="Publish" }}
    <span class="fa fa-share-square-o"></span>
    <span class="md-nav-text">Publish</span>
  {{/link-to}}
</li>
{{outlet}}
