{{!-- TODO --}}
{{!-- <li>
  {{#link-to "dictionary.show.translate" model}}
    <FaIcon @icon="retweet" />
    <span class="md-nav-text">Translate</span>
    {{ember-tooltip text="Translate" side="bottom" tooltipClass="ember-tooltip md-nav-tip"}}
  {{/link-to}}
</li> --}}
<li class="divider-vertical">
</li>
<li>
<FromElsewhere @name="dictionary-nav" />
</li>
