<td>
  {{input/md-datetime
    valuePath='date'
    model=this
    showValidations=true
    required=true
    forceDateOutput=true
    profilePath=(concat profilePath '.date')
  }}
</td>
<td>
  {{input/md-codelist
    create=true
    required=true
    tooltip=true
    icon=false
    disabled=disabled
    allowClear=true
    showValidations=true
    mdCodeName='dateType'
    profilePath=(concat profilePath '.dateType')
    path='dateType'
    model=this
    placeholder='Choose date type'
  }}
</td>
<td>
  {{input/md-input
    value=model.description
    profilePath=(concat profilePath '.description')
    placeholder='Describe the date.'
  }}
</td>
{{yield}}