<section>
    {{leaflet-table
        layers=model.json.metadata.resourceInfo.extent.geographicElement
        setFeatureGroup=(route-action "setFeatureGroup")
        handleResize=(route-action "handleResize")}}
</section>

{{outlet}}
