<div class="form-group">
    <label for="input-org">Organization Name</label>
    {{input value=model.json.organizationName placeholder="Organization Name" class="form-control" id="input-org"}}
</div>
<div class="form-group">
    <label for="input-ind">Individual Name</label>
    {{input value=model.json.individualName placeholder="Individual Name" class="form-control" id="input-ind"}}
</div>
{{outlet}}
