<h4 class="section-header">
  Add Taxa from ITIS<small> Taxonomy Collection #{{this.collectionId}}</small>
  {{control/md-status model=this.parentModel}}
</h4>

{{control/md-itis taxonomy=this.model}}

{{to-elsewhere
  named="md-subbar-extra"
  send=(component "control/md-button"
  text="Back to Collection"
  icon="arrow-left"
  class="btn-primary btn-lg"
  click=(route-action "toCollection")
  )
}}
