{{#with model.json.metadata.metadataInfo as |metadata|}}
{{object/md-party
  title="Metadata Contact"
  data-spy="Metadata Contact"
  collapsible=true collapsed=false
  required=true
  value=metadata.metadataContact
  profilePath="record.metadata.metadataContact"
}}

{{outlet}}

<style media="screen">
    .construction {
        width: 50vh;
        min-width:240px;
        font-size:5vh;
        border: 2vh solid #333333;
        margin: 10vh auto;
        padding: 3vh;
        border-radius: 5vh;
    }
</style>
{{#layout/md-card class="construction card-inverse card-warning" shadow=false}}
    <div class="text-center">
        <div>
            {{fa-icon "exclamation-triangle" size=2}}
        </div>
        <div>
            <b>Page Under <br>Construction</b>
        </div>
    </div>
{{/layout/md-card}}
{{/with}}
