<td colspan={{this.visibleProcessedColumns.length}}>
  {{#if hasBlock}}
    {{yield
      (hash
        expandedRowComponent=this.expandedRowComponent
        record=this.record
        visibleProcessedColumns=this.visibleProcessedColumns
        index=this.index
        clickOnRow=this.clickOnRow
        sendAction=this.sendAction
        themeInstance=this.themeInstance
        expandRow=this.expandRow
        collapseRow=this.collapseRow
      )}}
  {{else}}
    {{component
      this.expandedRowComponent
      record=this.record
      visibleProcessedColumns=this.visibleProcessedColumns
      index=this.index
      clickOnRow=this.clickOnRow
      sendAction=this.sendAction
      themeInstance=this.themeInstance
      expandRow=this.expandRow
      collapseRow=this.collapseRow}}
  {{/if}}
</td>
