<div class="row md-section-secondary">
  <div class="col-sm-9 col-md-offset-1">
    <section class="">Editing Dictionary {{model.id}}</section>
    {{outlet}}


    <style media="screen">
        .construction {
            width: 50vh;
            min-width:240px;
            font-size:5vh;
            border: 2vh solid #333333;
            margin: 10vh auto;
            padding: 3vh;
            border-radius: 5vh;
        }
    </style>
    {{#layout/md-card class="construction card-inverse card-warning" shadow=false}}
        <div class="text-center">
            <div>
                {{fa-icon "exclamation-triangle" size=2}}
            </div>
            <div>
                <b>Page Under <br>Construction</b>
            </div>
        </div>
    {{/layout/md-card}}


  </div>
  <div class="col-sm-2">
    <div class="md-control-sidebar">
      {{control/md-crud-buttons
          model=model
          doSave="saveDictionary"
          doCancel="cancelDictionary"
          doDelete="destroyDictionary"
          doCopy="copyDictionary"
      }}
    </div>
  </div>

</div>
