<ul id='md-navbar-secondary' class='nav nav-pills' role='navigation'>
  {{#each sortedLinks as |link index|}}
    {{#if (and hasOverflow link.isOverflow)}}
      {{to-elsewhere
        named='secondary-nav-menu'
        send=(component
          'layout/md-nav-secondary/link'
          isStaticLinks=isStaticLinks
          link=link
          index=index
          model=model
          nav=this
          navWidth=navWidth
        )
      }}
    {{else}}
      {{layout/md-nav-secondary/link
        isStaticLinks=isStaticLinks
        link=link
        index=index
        model=model
        nav=this
        navWidth=navWidth
      }}
    {{/if}}
  {{/each}}

  {{#if hasOverflow}}
    <li class='dropdown'>
      <a
        href='#'
        class='dropdown-toggle'
        data-toggle='dropdown'
        role='button'
        aria-haspopup='true'
        aria-expanded='false'
      >More <span class='caret'></span></a>
      <ul class='dropdown-menu'>
        {{multiple-from-elsewhere name='secondary-nav-menu'}}
      </ul>
    </li>
  {{/if}}
</ul>