<ul id="md-navbar-secondary" class="nav nav-pills" role="navigation">
  {{#each links as |link|}}
    <li>
      {{#link-to link.target class="link.class" }}{{link.title}}{{/link-to}}
    </li>
  {{/each}}

  {{yield}}
</ul>
